{
  "info": {
    "title": "SpendHQ PPM API",
    "description": "SpendHQ PPM API was first released in 2017 to support the growth of the partnerships and the need to strengthen data exchanges.<br />It has a secured authentication process based on two well known web standards: OAuth and JWT.<br />Its design was largely inspired by the JSON API specification.",
    "contact": {
      "name": "API Integration Support"
    },
    "version": "v3",
    "x-logo": {
      "url": "https://per-angusta-maintenance.s3-eu-west-1.amazonaws.com/logo/logo-per-angusta-api-documentation.png",
      "backgroundColor": "transparent",
      "altText": "SpendHQ PPM API"
    }
  },
  "swagger": "2.0",
  "produces": [
    "application/xml",
    "application/json"
  ],
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "description": "SpendHQ PPM API implements the « Client Credentials » grant of the protocol OAuth 2.0 to authorize third-party clients from accessing protected resources.",
      "flow": "application",
      "tokenUrl": "/api/oauth/token",
      "scopes": {
        "assets": "Assets",
        "budgets": "Projects",
        "contracts": "Contracts",
        "suppliers": "Suppliers",
        "data_sources": "Batch Data Imports and Templates",
        "opportunities": "Opportunities",
        "sessions": "Sessions"
      }
    }
  },
  "host": "demo.per-angusta.com",
  "basePath": "/api/v3",
  "x-tagGroups": [
    {
      "name": "Endpoints",
      "tags": [
        "assets",
        "budgets",
        "contracts",
        "negotiations",
        "opportunities",
        "suppliers",
        "widgets",
        "kpis",
        "data_sources",
        "sessions"
      ]
    },
    {
      "name": "Fundamentals",
      "tags": [
        "authentication",
        "pagination",
        "sorting",
        "filtering",
        "end_user_policy",
        "rate_limits"
      ]
    }
  ],
  "tags": [
    {
      "name": "assets",
      "description": "Endpoints for Assets",
      "x-displayName": "Assets"
    },
    {
      "name": "budgets",
      "description": "Endpoints for Projects",
      "x-displayName": "Projects"
    },
    {
      "name": "contracts",
      "description": "Endpoints for Contracts",
      "x-displayName": "Contracts"
    },
    {
      "name": "negotiations",
      "description": "Endpoints for Saving Reports",
      "x-displayName": "Savings Reports"
    },
    {
      "name": "suppliers",
      "description": "Endpoints for Suppliers",
      "x-displayName": "Suppliers"
    },
    {
      "name": "widgets",
      "description": "Endpoints for Widgets",
      "x-displayName": "Widgets"
    },
    {
      "name": "data_sources",
      "description": "Endpoints for Data Imports",
      "x-displayName": "Batch Data Imports"
    },
    {
      "name": "opportunities",
      "description": "Endpoints for Opportunities",
      "x-displayName": "Opportunities"
    },
    {
      "name": "sessions",
      "description": "Endpoints for Sessions",
      "x-displayName": "Sessions"
    },
    {
      "name": "authentication",
      "description": "In every requests, you need to pass a Bearer Token in the `Authorization` header in the form of `Authorization: Bearer <token>`.\n\nFor instance, with curl you should use it like that:\n\n```bash\ncurl -G -X GET https://staging.per-angusta.com/api/v3/suppliers \\\n  -H 'Authorization: Bearer <token>'\n```\n",
      "x-displayName": "Authentication",
      "x-traitTag": true
    },
    {
      "name": "pagination",
      "description": "The number of resources returned in a response is limited by a page-based strategy. The maximum number of resources per page is 500 and there is no limit of number of pages.\n\nParameters:\n- `page[number]` Page number, by default “1”\n- `page[size]` Number of resources per page, default value depending on the endpoint\n\nTo help you traverse a paginated data set, the primary object “links” available at the root of the response contains up to 4 links as described below:\n- `first` If current page number is different than “1”, contains a link to the first page\n- `prev` If current page number is different than “1”, contains a link to the previous page\n- `next` If current page number is different than the last available page number, contains a link to the next page\n- `last` If current page number is different than the last available page number, contains a link to the last page\n\nThe primary object “meta” available at the root of the response contains following information:\n- `page_number` Current page number\n- `page_size` Current page size\n- `total_pages` Number of available pages\n- `total_count` Total number of resources that can be traversed through pagination\n\nExample of request with pagination options:\n```\ncurl -G -X GET  https://staging.per-angusta.com/api/v3/suppliers \\\n  -H 'Authorization: Bearer <token>' \\\n  -d 'page[number]=2&page[size]=30'\n```\n\nExample of primary object “links”:\n```\n{\n  \"links\": {\n    \"first\": \".../api/v3/suppliers?page[number]=1&page[size]=30\",\n    \"prev\": \".../api/v3/suppliers?page[number]=1&page[size]=30\",\n    \"next\": \".../api/v3/suppliers?page[number]=3&page[size]=30\",\n    \"last\": \".../api/v3/suppliers?page[number]=20&page[size]=30\"\n  }\n}\n```\n\nExample of primary object “meta” with pagination data:\n```\n{\n  \"meta\": {\n    \"page_number\": 2,\n    \"page_size\": 30,\n    \"total_pages\": 20,\n    \"total_count\": 582\n  }\n}\n```\n",
      "x-displayName": "Pagination",
      "x-traitTag": true
    },
    {
      "name": "sorting",
      "description": "You can ask for a different sorting of data sets using the parameter “sort”. It may accept a list of whitelisted attributes, separated by a comma “,”. The list of available attributes depends on the endpoint. If you don’t specify the direction, default is “ascending order”, it may be specified by using “+” (ascending) or “-“ (descending) in front of the attribute name.\n\nParameters:\n- `sort` By default “-updated_at” (sort by last modification date in descending order)\n\nThe primary object “meta” available at the root of the response contains following information:\n\n- `sort` Current sort options\n\nExample of request with sorting option “by name in ascending order and by last modification date in descending order”:\n```\ncurl -G -X GET  https://staging.per-angusta.com/api/v3/suppliers \\\n  -H 'Authorization: Bearer <token>' \\\n  -d 'sort=+name,-updated_at'\n```\n\nExample of primary object “meta” with sorting data:\n```\n{\n  \"meta\": {\n    \"sort\": \"-updated_at\"\n  }\n}\n```\n",
      "x-displayName": "Sorting",
      "x-traitTag": true
    },
    {
      "name": "filtering",
      "description": "Filtering allows you to filter data sets.\nYou can filter most of the list endpoints (check each endpoint for more informations).\n\nAt the time of writing this documentation, the following filtering options are available:\n\n- `filter[q]`: free text search\n- `filter[created_at_before]`: created before given date\n- `filter[created_at_after]`: created before given date\n- `filter[updated_at_before]`: updated before given date\n- `filter[updated_at_after]`: updated before given date\n\nDate filmters accepts ISO 8601 dates.\n\nExample of request using free text search and updated_at_before filter:\n```\ncurl -G -X GET  https://staging.per-angusta.com/api/v3/suppliers \\\n  -H 'Authorization: Bearer <token>' \\\n  -d 'filter[q]=xyz' \\\n  -d 'filter[updated_at_before]: 2023-10-05T14:17:36.208z'\n```\n",
      "x-displayName": "Filtering",
      "x-traitTag": true
    },
    {
      "name": "end_user_policy",
      "description": "Data sets can differ depending on the permissions of the authenticated End-User. By default, the policy which is applied is the “read” policy. If you are building a user interface to create objects through the API, you may want to filter data sets with “write” policy.\n\nIt won’t have any effect in case of Client authentication without specified “email”.\n\nParameters:\n- `policy[mode]` By default “read”, may be set to “write”\n\nThe primary object “meta” available at the root of the response contains following information:\n- `policy_mode` Current policy mode\n\nExample of request using “write” policy:\n```\ncurl -G -X GET https://staging.per-angusta.com/api/v2/objects/budgets \\\n  -H 'Authorization: Bearer <token>' \\\n  -d 'policy[mode]=write'\n```\n\nExample of primary object “meta” with policies data:\n```\n{\n  \"meta\": {\n    \"policy_mode\": \"read\"\n  }\n}\n```\n",
      "x-displayName": "End-User policy",
      "x-traitTag": true
    },
    {
      "name": "rate_limits",
      "description": "The maximum number of requests that are allowed is based on a time interval, some specified period or window of time.\n\nThe most common request limit is **200 requests per 60 seconds**, but some endpoints may have their own constraints.\n\nUse the HTTP headers in order to understand where the application is at for a given rate limit, on the method that was just utilized.\n- `X-RateLimit-Limit`: the maximum nb of requests per period\n- `X-RateLimit-Remaining`: the remaining allowed requests in current period\n- `X-RateLimit-Reset`: the remaining window before the rate limit resets, in UTC epoch seconds\n\nWhen an application exceeds the rate limit for a given endpoint, the API will return a HTTP 429 “Too Many Requests” response code, and the following error will be returned in the response body:\n\n```\n{ \"error\": { \"code\": 50429, \"message\": \"You have reached the limit of 200 requests per time window. Please wait 17 second(s) before trying to access the application again.\" } }\n````\n",
      "x-displayName": "Rate Limits",
      "x-traitTag": true
    }
  ],
  "paths": {
    "/assets": {
      "get": {
        "description": "List Assets",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "policy[mode]",
            "description": "Policy mode",
            "type": "string",
            "enum": [
              "read",
              "write"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "page[number]",
            "description": "Page number",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "page[size]",
            "description": "Page size",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "sort[]",
            "description": "Sorting options, comma separated values (ex: \\\"&sort=-updated_at,+name\\\")",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "filter[q]",
            "description": "Free text search",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[assetable_types][]",
            "description": "Get only assets for these assetable types.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Budget",
                "Supplier",
                "Contract",
                "DataSource",
                "FileTag",
                "Location",
                "Negotiation",
                "Program",
                "Opportunity",
                "Program",
                "Task",
                "User"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "filter[assetable_ids][]",
            "description": "Get only assets for these assetable ids.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "filter[created_at_after]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[created_at_before]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[updated_at_after]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[updated_at_before]",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974500"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "assets"
        ],
        "operationId": "getAssets"
      }
    },
    "/assets/{id}": {
      "get": {
        "description": "Show an Asset",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974520"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "assets"
        ],
        "operationId": "getAssetsId"
      }
    },
    "/suppliers": {
      "post": {
        "summary": "Create a Supplier",
        "description": "",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "name": "postSuppliers",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postSuppliers"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974540"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "suppliers"
        ],
        "operationId": "postSuppliers"
      },
      "patch": {
        "summary": "Create/update a batch of Suppliers",
        "description": "In the case of an update, it will only update missing attributes (soft update).",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "name": "patchSuppliers",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchSuppliers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974560"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_SupplierBatchError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "suppliers"
        ],
        "operationId": "patchSuppliers"
      },
      "get": {
        "summary": "List Suppliers",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "policy[mode]",
            "description": "Policy mode",
            "type": "string",
            "enum": [
              "read",
              "write"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "page[number]",
            "description": "Page number",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "page[size]",
            "description": "Page size",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[q]",
            "description": "Free text search",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[created_at_after]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[created_at_before]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[updated_at_after]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[updated_at_before]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort[]",
            "description": "Sorting options, comma separated values (ex: \\\"&sort=-updated_at,+name\\\")",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974580"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "suppliers"
        ],
        "operationId": "getSuppliers"
      }
    },
    "/suppliers/{supplier_id}": {
      "get": {
        "summary": "Show a Supplier",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "supplier_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974600"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "suppliers"
        ],
        "operationId": "getSuppliersSupplierId"
      },
      "put": {
        "summary": "Update a Supplier",
        "description": "Full object is required, every missing attribute will be considered null",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "supplier_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "putSuppliersSupplierId",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putSuppliersSupplierId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated successfully",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974620"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "suppliers"
        ],
        "operationId": "putSuppliersSupplierId"
      }
    },
    "/budgets": {
      "get": {
        "description": "List Projects",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "policy[mode]",
            "description": "Policy mode",
            "type": "string",
            "enum": [
              "read",
              "write"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "page[number]",
            "description": "Page number",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "page[size]",
            "description": "Page size",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[q]",
            "description": "Free text search",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[created_at_after]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[created_at_before]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[updated_at_after]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[updated_at_before]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort[]",
            "description": "Sorting options, comma separated values (ex: \\\"&sort=-updated_at,+name\\\")",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974640"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "budgets"
        ],
        "operationId": "getBudgets"
      }
    },
    "/budgets/{budget_id}": {
      "get": {
        "description": "Show Project",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "budget_id",
            "description": "Project ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974660"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "budgets"
        ],
        "operationId": "getBudgetsBudgetId"
      }
    },
    "/budgets/{budget_id}/silex/events": {
      "post": {
        "summary": "Create an external Event for Silex",
        "description": "Create a third-party record",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "budget_id",
            "description": "Project ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "postBudgetsBudgetIdSilexEvents",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postBudgetsBudgetIdSilexEvents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974680"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "budgets"
        ],
        "operationId": "postBudgetsBudgetIdSilexEvents"
      }
    },
    "/budgets/{budget_id}/silex/events/{event_id}": {
      "post": {
        "summary": "Update an external Event for Silex",
        "description": "Update an existing third-party record",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "budget_id",
            "description": "Project ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "path",
            "name": "event_id",
            "type": "string",
            "required": true
          },
          {
            "name": "postBudgetsBudgetIdSilexEventsEventId",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postBudgetsBudgetIdSilexEventsEventId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974700"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "budgets"
        ],
        "operationId": "postBudgetsBudgetIdSilexEventsEventId"
      },
      "delete": {
        "summary": "Delete an external Event for Silex",
        "description": "Delete an existing third-party record",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "budget_id",
            "description": "Project ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "path",
            "name": "event_id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974720"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "budgets"
        ],
        "operationId": "deleteBudgetsBudgetIdSilexEventsEventId"
      }
    },
    "/budgets/{budget_id}/archlet/events": {
      "post": {
        "summary": "Create an external Event for Archlet",
        "description": "Create a third-party record",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "budget_id",
            "description": "Project ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "postBudgetsBudgetIdArchletEvents",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postBudgetsBudgetIdArchletEvents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974740"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "budgets"
        ],
        "operationId": "postBudgetsBudgetIdArchletEvents"
      }
    },
    "/budgets/{budget_id}/archlet/events/{event_id}": {
      "post": {
        "summary": "Update an external Event for Archlet",
        "description": "Update an existing third-party record",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "budget_id",
            "description": "Project ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "path",
            "name": "event_id",
            "type": "string",
            "required": true
          },
          {
            "name": "postBudgetsBudgetIdArchletEventsEventId",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postBudgetsBudgetIdArchletEventsEventId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974760"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "budgets"
        ],
        "operationId": "postBudgetsBudgetIdArchletEventsEventId"
      },
      "delete": {
        "summary": "Delete an external Event for Archlet",
        "description": "Delete an existing third-party record",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "budget_id",
            "description": "Project ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "path",
            "name": "event_id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974780"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "budgets"
        ],
        "operationId": "deleteBudgetsBudgetIdArchletEventsEventId"
      }
    },
    "/negotiations": {
      "post": {
        "summary": "Create a Savings Report",
        "description": "Create a Savings Report (Only draft creation is currently supported)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "name": "postNegotiations",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postNegotiations"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974800"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "negotiations"
        ],
        "operationId": "postNegotiations"
      }
    },
    "/opportunities": {
      "get": {
        "description": "List Opportunities",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "policy[mode]",
            "description": "Policy mode",
            "type": "string",
            "enum": [
              "read",
              "write"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "page[number]",
            "description": "Page number",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "page[size]",
            "description": "Page size",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[q]",
            "description": "Free text search",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[created_at_after]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[created_at_before]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[updated_at_after]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[updated_at_before]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort[]",
            "description": "Sorting options, comma separated values (ex: \\\"&sort=-updated_at,+name\\\")",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974820"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "opportunities"
        ],
        "operationId": "getOpportunities"
      },
      "post": {
        "description": "Create an opportunity",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "name": "postOpportunities",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postOpportunities"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974840"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "opportunities"
        ],
        "operationId": "postOpportunities"
      }
    },
    "/opportunities/{opportunity_id}": {
      "get": {
        "description": "Show an Opportunity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "opportunity_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974860"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "opportunities"
        ],
        "operationId": "getOpportunitiesOpportunityId"
      },
      "patch": {
        "description": "Update an opportunity",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "opportunity_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "patchOpportunitiesOpportunityId",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchOpportunitiesOpportunityId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974880"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "opportunities"
        ],
        "operationId": "patchOpportunitiesOpportunityId"
      }
    },
    "/widgets/supplier_summaries/{identifier_value}": {
      "get": {
        "summary": "Get Supplier Summary",
        "description": "Obtain a brief summary about a supplier.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "identifier_type",
            "description": "Supplier Identifier type",
            "type": "string",
            "default": "id",
            "enum": [
              "id",
              "external_identifier",
              "external_identifier_coupa",
              "vat_number",
              "legal_identifier",
              "duns_number",
              "reference_code",
              "universal_identifier"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "identifier_value",
            "description": "Supplier Identifier",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974900"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "widgets"
        ],
        "operationId": "getWidgetsSupplierSummariesIdentifierValue"
      }
    },
    "/widgets/phase_summaries": {
      "get": {
        "summary": "Get Phases Summary",
        "description": "Obtain a brief summary about phases.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "filter[q]",
            "description": "Free text search",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[created_at_after]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[created_at_before]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[updated_at_after]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[updated_at_before]",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974920"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "widgets"
        ],
        "operationId": "getWidgetsPhaseSummaries"
      }
    },
    "/data_sources/templates": {
      "get": {
        "summary": "List data import templates",
        "description": "Retrieve the list of available data import templates with their type and columns.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "filter[q]",
            "description": "Free text search",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[created_at_after]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[created_at_before]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[updated_at_after]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[updated_at_before]",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page[number]",
            "description": "Page number",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "page[size]",
            "description": "Page size",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974940"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "data_sources"
        ],
        "operationId": "getDataSourcesTemplates"
      }
    },
    "/data_sources": {
      "post": {
        "summary": "Create data import",
        "description": "Import data in batch with the \"DataSource\" interface. The result of that endpoint is an array of batch import operations, depending on the maximum number of lines per template. The rate limit is 2 requests per 30-second interval.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "lol",
            "name": "data_source[data][]",
            "description": "A JSON array of representing the objects to be imported.\n\nThese must be structured the same way an import file is structured.\n\nYou can import as many item as you want as long as each key MUST have the same name as the column in the corresponding template.\n\nFor instance:\n```json\n {\n    \"data_source\": {\n        \"data_source_type\": \"Comment\",\n        \"data\": [\n            {\n                \"commentable/type\": \"Contract\",\n                \"commentable/key\": \"id\",\n                \"commentable/value\": \"46\",\n                \"comment\": \"Hello world\"\n            }\n        ]\n    }\n}\n```\n\nwill add a comment on the Contract with ID 46.\n",
            "type": "array",
            "items": {
              "type": "json"
            },
            "required": true
          },
          {
            "name": "postDataSources",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postDataSources"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974960"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "data_sources"
        ],
        "operationId": "postDataSources"
      },
      "get": {
        "summary": "List data imports",
        "description": "Retrieve the history of data imports and their status",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "sort[]",
            "description": "Sorting options, comma separated values (ex: \\\"&sort=-updated_at,+name\\\")",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page[number]",
            "description": "Page number",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "page[size]",
            "description": "Page size",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35974980"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "408": {
            "description": "Request timeout",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
            }
          }
        },
        "tags": [
          "data_sources"
        ],
        "operationId": "getDataSources"
      }
    },
    "/data_sources/{data_source_id}": {
      "get": {
        "summary": "Show data import details",
        "description": "Retrieve details and status of an import",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Access Token type and value",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "Content-Type",
            "description": "Request Content Type",
            "type": "string",
            "enum": [
              "application/json",
              "application/x-www-form-urlencoded",
              "multipart/form-data"
            ],
            "required": true
          },
          {
            "in": "header",
            "name": "Accept",
            "description": "Requested Content Type",
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json",
              "application/xml"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "data_source_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/data_wrapper_35975000"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PerAngustaV3_Entities_Error"
[...]
